* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 375px) {
  .box {
    position: absolute;
  }
}

@media screen and (min-width: 1440px) {
  .box {
    position: relative;
  }
}

.box {
  background-color: rgb(171, 231, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 775px;
}

.container {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 350px;
  width: 230px;
}

.container-list-1 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.container-list-2 {
  font-size: 12px;
  color: rgba(190, 186, 186);
  text-align: center;
  padding-top: 15px;
}

img.rounded-corners {
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 15px;
}
